name: unit_tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: ghcr.io/truenas/middleware:master

    steps:
    - uses: actions/checkout@v2
    - name: Setup dependencies
      run: |
        /usr/bin/install-dev-tools
        mkdir -p /var/run/middleware

    - name: Deps
      run: |
        pip install --break-system-packages -r requirements.txt
        pip install --break-system-packages -U .

    - name: Running test
      run: pytest -v ixdiagnose/test/pytest/unit/
